.game-container {
    display: flex;
    padding: 3% 10%;
}

.game-info {
    margin-left: 10%;
    font-size: 2rem;
}

li {
    font-size: 1.4rem;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 4px;
}